@import url("https://fonts.googleapis.com/css?family=Raleway:200,800&display=swap");

img {
  width: 30%;
  float: left;
  margin: 1.66%;
}

img:hover {
  opacity: 0.5;
}

h1 {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 23px;
  margin-left: 1.66%;
  border-bottom: 2px solid #f1f1f1;
  padding-bottom: 23px;
  width: 30%;
}
